@charset "UTF-8";

// @import url(../header/header.css);
// @import url(mainMedia.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
#header {
  z-index: 999;
  width: 60px;
}

#calendar .Wrapper {
  width: 300px;
  height: 300px;
}

/* ^ 기본 css 설정 */

.wrap {
  display: flex;
  width: 100%;
  min-width: 1200px;
  background: #fdfdfd;
}

.wrapline {
  flex-direction: column;
  width: calc(100% - 60px) !important;
}
.line {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.form-control {
  float: right;
  margin-top: 20px;
  margin-right: 90px;
  width: 260px;
  height: 40px;
  padding-left: 10px;
}

.has-search .form-control-feedback {
  position: absolute;
  top: 16px;
  right: 90px; /* 혹은 다른 상대적인 값으로 조절 */
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 3rem;
  pointer-events: none;
  color: #aaa;
}

/* .fa fa-search form-control-feedback {
	size: 100px
}
 */

.top_icons {
  display: flex; /* 한줄(수평)로 배치 */
  position: absolute;
  right: 0;
  color: #3cb4ff;
  margin-right: 40px;
  margin-top: 16px;
  font-size: 32px;
}

/* ^ import를 포함한 전체 css설정 */

.section_wrap {
  display: flex;
  width: 100vw;
  min-width: 1600px;
  margin-top: 5px;
  article {
    height: 300px; /* 원하는 높이 지정 */
    background-color: #efefef;
    border-radius: 15px;
    margin: 10px; /* 네비게이션 바의 너비만큼 여백을 주어 옆에 위치하도록 함 */
  }
  section {
    text-align: center;
    align-items: center;
  }
}
#iframe{
  width: 100%;
  height: 100%;
}


.section1 {
  width: 300px;
  border-right: 1px solid #ddd;
  margin: 0;
  padding: 0;
  article {
    background: #fff;
    margin: 0;
  }
  ul {
    display: flex;
    li {
      width: 100%;
      height: 50px;
      margin: 10px;
      .inputBtn {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1px solid #3cb4ff;
        color: #3cb4ff;
        background: #fff;
        padding: 5px 10px 5px 10px;
        &:hover{
          background: #3cb4ff;
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }
}

.section2 {
  width: 80%;
  #mailBox {
    overflow: hidden;
    iframe {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.section3 article:nth-child(2) {
  height: 200px;
}

.user-profile {
  text-align: center;
  position: relative;
  .profile {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    width: 110px;
    height: 110px;
    background-image: url(https://randomuser.me/api/portraits/med/women/6.jpg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .profileInfo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: 30px;
  }
}
