* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #4d4d4d;
}

ul.tree {
    width: 180px;
    margin: 0 auto;
    padding-top: 0px;
}

ul li {
    position: relative;
    list-style:none;
    padding: 3px 0;
    font-size: 12px;
}

li span {
    font-size: 13px;
    font-weight: bold;
}

li:before, li:after {
    content: '';
    position: absolute;
    left: -28px;
    background-color: #979797;
}

li:before {
    height: 1px;
    width: 16px;
    top: 12px;
}

li:after {
    height: 26px;
    width: 1px;
    top: -14px;
}

li.parent:after {
    height: 100%;
    top: 12px;
}

li.parent:last-child:after {
    content: none;
}

details {
    margin: 0 auto;
    max-height: 18px;
    transition: max-height 1s linear;
}

details[open] {
    max-height: 1000px;
}

/* '▶' 없애기 */
summary {
    display: block;
    position: relative;
    cursor: pointer;
}

/* +버튼없애기 */
.parent:nth-child(1) summary:before {
    content: "";
}
.parent:nth-child(2) summary:before {
    content: "";
}
.parent:nth-child(3) summary:before {
    content: "";
}

/* +버튼 */
summary:before {
    content: '+';
    position: absolute;
    width: 13px;
    top: 0;
    left: -22px;
    text-align: center;
    color: #fff;
    background-color: gray;
    /* border-radius: 9px; */
}

/* -버튼 */
details[open] > summary:before {
    content: '-';
    z-index: 1;
    top: 4px;
    background-color: gray;
}

/* 가지 */
details > ul {
    padding: 14px;
}

.table1 {
    margin-top: 15px;
}

/* 모달 */

.popup .overlay {
    position: fixed;
    top:0px;
    left:0px;
    width: 100vw;
    height:100vh;
    z-index:1;
    display: none;
} 

.popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) scale(0);
    background: #fff;
    width:300px;
    height:380px;
    z-index: 2;
    padding:10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 5px rgb(214, 214, 214);
}

.popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:15px;
    top:17px;
    width:30px;
    height:30px;
    color:gray;
    font-size:30px;
    line-height: 30px;
    text-align: center;
    border-radius:50%;
}

.popup.active .overlay {
    display:block;
}

.popup.active .content {
    /* transition:all 300ms ease-in-out; */
    transform:translate(-50%, -50%) scale(1);
}


