@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
}
li{
    list-style: none;

}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: 1150px;
  margin-top: 60px;
  margin-bottom: 60px;
  background: #ffffff;
  border: 1px solid lightgray;
}

.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:100px;
  height:100vh;
  line-height: 2;
}

.header {
  width: 500px;
  height: 94px;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  color: black;
}

.id_con {
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 800;
  width: 500px;
  padding-right: 40px;
 
}

.int_box {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  background: #fff;
  font-size: 18px;
  border:2px solid #3cb4ff;
}

.id_box{
    display: flex;
    height: 50px;
    width: 100%;
   }

.id_check{
    border:none;
    background-color:#3cb4ff;
    color: #fff;
    padding:10px 30px;
    
    
}

#box int_id button { 
 position: absolute;
  width: 90px;
  height: 40px;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto 0;
  border-radius: 3px;
}

.pwd_con {
    width: 500px;
    padding-right: 40px;
}

.pwdconf_con {
    width: 500px;
    padding-right: 40px;
    
}

.phone-input {
  width: 90px; /* 너비 조절 */
  border-radius: 5px;
  margin:10px;
}
.auth {
  display: flex;
}

.timer {
  display: flex;
}

.auth div {
  width: 30%;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
 
}

.auth button {
  width: 50%;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  
}

.timer div {
  width: 30%;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}

.timer button {
  width: 50%;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  
}

.birth_con {
    width: 100%;
    padding-right: 40px;
    display: table;
   
 
}

#bir_yy {
  display: table-cell;
  width: 147px;
}

#bir_mm {
  display: table-cell;
  width: 147px;
  vertical-align: middle;
}

#bir_dd {
  display: table-cell;
  width: 147px;
}

#bir_mm,
#bir_dd {
  padding-left: 10px;
}

.email_con {
    width: 500px;
    padding-right: 40px;
}

.agree-check {
  width: 454px;
  height: 21.06px;
  margin-top: 52.05px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.join_btn {
  width: 100%;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  margin: 60px 0 91px;
  border: 0;
}
button:hover {
  cursor: pointer;
}
.join_btn input {
  width: 100%;
  border: none;
  background-color:#3cb4ff;
  font-size: 20px;
  color: #fff;
  padding: 21px 0 17px;
}
