@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.header{
  text-align: center;
  position: relative;
  top: 70px;
}

.wrap {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  
  
}

.login {
  width: 50%;
  height: 900px;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  
}

.login_title {
  padding: 20px;
  display: flex;
}

.login_title li {
  padding: 0px 15px;
}

.login_title a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50px;
  background: white;
  font-size: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
}

.text1{
  color:gray;
  line-height: 50px;
}

.text2{
  color:gray;
  font-size: 15px;
}

.login_id {
  margin-top: 60px;
  width: 80%;
}

.login_id input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 30px;
  border: 1px solid green;
  outline: none;
  
}

.login_pw {
  margin-top: 1px;
  width: 80%;
}

.login_pw input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 30px;
  border: 1px solid green;
  outline: none;
  
}

.login_etc {
  padding: 10px;
  width: 80%;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: ;
}

.text{
  word-spacing: 30px;
}

.join_btn {
  width: 80%;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  margin: 60px 0 91px;
  border: 0;
}
button:hover {
  cursor: pointer;
}
.join_btn input {
  width: 100%;
  border: none;
  background-color: green;
  font-size: 25px;
  color: #fff;
  padding: 21px 0 17px;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




