@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #ffffff;
  text-align: center;
  margin-bottom: 50%;
  
}

.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  height: 150px;
  position: relative;
  
}

.circle1 {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 3px solid gray;
  float: left;
  text-align: center;
  margin-top: 100px;
  position: relative;
  left: 800px;
}

.circle2 {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 3px solid gray;
  float: left;
  box-align: center;
  margin-top: 100px;
  position: relative;
  left: 430px;
}

.circle3 {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 3px solid gray;
  float: left;
  margin-top: 100px;
  position: relative;
  left: 80px;
}
.agree-check {
  width: 100%;
  height: 21.06px;
  margin-top: 300px;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  line-height: 50px;
  text-align: left;
}

.some {
  margin-top: 700px;
  line-height: 30px;
  vertical-align: top;
  text-align: left;
  height: 10000px;
  padding-right:10%;
}

.join_btn {
  width: 100%;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  margin: 70px 0 91px;
  border: 0;
  padding-left: 7%;
}

button:hover {
  cursor: pointer;
}
.join_btn input {
  width: 90%;
  margin-right: 700px;
  border: none;
  background-color:rgb(76, 171, 209);
  font-size: 20px;
  color: #fff;
  padding: 21px 0 17px;
}
