@charset "UTF-8";

@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  display: flex;
}
#container {
  max-width: 1000px; /* 최대폭 */
  height: 650px;
  margin-left: auto;
  margin-right: auto; /* 상하여백 15px | 좌우여백 10px*/
  margin-top: 70px;
  border: 1px solid #ccc;
}

#logo_img {
  background-image: url(../logo/scope1.png);
  background-size: 300px;
  width: 300px;
  height: 350px;
  margin: 0 auto;
  margin-top: 30px;
}

#logininfo {
  text-align: center;
  margin-top: 50px;
}

.loginButton {
  width: 450px;
  height: 50px;
  margin: 5px 0;
  font-size: 20px;
  color: white;
  background-color: #3cb4ff;
  border: none;
}

.loginButton:hover {
  background-color: #5a5aff;
}

.empjoin_li {
  margin-top: 10px;
}

/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  li {
    list-style: none;
  }
  a{
    text-decoration: none;
    color: inherit;
  }

.contents{
    width: 100%;
    display: flex;
    justify-content:center

}

.login {
    margin: 0 auto;
}

.choice {
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 100px 50px 100px 50px;
    background: skyblue;
    display: inline-block;
    border-radius: 10%;
    
    
}

.choice i{
    margin-top: 40px;
    margin-bottom: 10px;
}



.join {
    height: 50px;
    text-align: center;
    background: lightgray;
    border-radius: 10px;
}

.join_button {
    padding: 13px;
}*/
