@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: Arial, sans-serif;
}

.wrap {
  max-width: 900px;
  margin: 0 auto;
}

.dropdownbtn {
  position: relative;
  display: inline-block;
  margin-left: 95%;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px white;
  z-index: 1;
}

.dropdowncontent a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
}

.dropdowncontent a:hover {
  background-color: #93d9e0;
}

.dropdownbtn:hover .dropdowncontent {
  display: block;
}

.login {
  background-color: #becaca09;
  padding: 60px;
  border: 3px solid #aacdff;
  border-radius: 60px;
  margin-top: 20px;
}
.login label {
  font-weight: 700;
}
.login_title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
}

.box {
  display: flex;
  flex-wrap: wrap;
  max-width: 30%;
  margin: 50px;
  line-height: 20px;
}
#inputImage {
  border: none;
}
.login input {
  border-radius: 5px;
  border: 1px solid #ddd;
}

.picture_con{

}

.int_box {
  width: 300px; /* 원하는 너비 값으로 조절 */
  height: 40px; /* 원하는 높이 값으로 조절 */
  display: flex;
  padding: 20px;
  margin-bottom: 10px;
  box-sizing: border-box; /* 패딩과 테두리를 요소의 크기에 포함 */
}

#previewImage {
  max-width: 200px;
  max-height: 200px;
  display: none;
}

input {
  height: 40px;
  vertical-align: middle;
  border: 1px solid #dadada;
  padding: 0px 15px;
}

label {
	display:inline-block;
	text-align:center;
	width:80px;
	font-weight:bold
}

.email_con{
  line-height: 50px;
}

.address_con{
  line-height: 30px;
}

.phon_con{
  line-height: 30px;
}

.birth_con{
  line-height: 30px;
}
.join_btn {
  width: 100%;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  margin: 60px 0 91px;
  border: 0;
}

button:hover {
  cursor: pointer;
}

.join_btn input {
  width: 90px;
  border: none;
  font-size: 15px;
  color: #fff;
  padding: 11px 0 17px;
  border-radius: 10px;
  background-color: skyblue;
}

.join_btn input[value="취소"] {
  background-color: rgba(128, 128, 128, 0.062);
  color: black;
  border: none;
}
