@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.dropdownbtn {
  display: inline-block;
  position: relative;
  bottom: 650px;
  right: 140px;
  
}

.profile{
  width: 100px;
  height: 100px;
  border-radius: 90px;
  
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownbtn:hover .dropdowncontent {
  display: block;
}

.dropdowncontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowncontent a:hover {
  background-color: #f1f1f1;
}

.wrap {
  width: 100%;
  height:139vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(232, 238, 238, 0.788);
  padding:30px;
  
}

.login {
  width: 90%;
  height: 90%;
  background: white;
  border-radius: 20px;
  border: 3px solid rgba(231, 230, 230, 0);
  max-width: 1000px;
 
  
}

.login_title {
  padding: 20px;
  display: flex;
  text-align:right;
  line-height: 50;
}

.login_title h2 {
  font-weight: bold;
  font-size: 40px;
  margin-left: 25px;
  padding: 20px;
  margin: 50px;
}

.box{
margin-bottom:50%;
margin-left:20px;


}

.picture_con {
  margin-bottom: 80px;
  font-size: 14px;
  font-weight: 800;
  width: 300px;
  padding-right: 40px;
  line-height: 3;
  
  
}


.container{
  margin: 30px;
  display: flex;
  vertical-align: text-bottom;
  
}







.int_box {
  display: block;
  position: relative;
  width: 80%;
  height: 50px;
  background: rgba(3, 3, 3, 0.021);
  border-radius: 10px;
  border: 1px solid rgb(218, 213, 213);
  font-size: 15px;
 
  
  
}

.name_con{
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 800;
  width: 500px;
  padding-right: 40px;
  padding: 10px;
  

}

.company_con{
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 800;
  width: 500px;
  padding-right: 40px;
  padding: 10px;
  
}

.division_con{
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 800;
  width: 500px;
  padding-right: 40px;
  padding: 10px;
}

.posision_con{
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 800;
  width: 500px;
  padding-right: 40px;
  padding: 10px;
}

.email_con{
  width: 500px;
    padding-right: 40px;
    padding: 10px;
    
}

.phon_con{
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 800;
  width: 500px;
  padding-right: 40px;
  padding: 10px;
  
}

.phon_con2{
  
  font-size: 14px;
  font-weight: 800;
  width: 500px;
  padding-right: 40px;
  padding: 10px;
  
  

  
}

.birth_con {
    width: 107%;
    padding-right: 40px;
    display: table;
    margin-top: 30px;
    
    
 
}

#bir_yy {
  display: table-cell;
  width: 147px;
}

#bir_mm {
  display: table-cell;
  width: 147px;
  vertical-align: middle;
}

#bir_dd {
  display: table-cell;
  width: 147px;
}

#bir_mm,
#bir_dd {
  padding-left: 10px;
}

.join_btn {
  width: 100%;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  margin: 60px 0 91px;
  border: 0;
}

button:hover {
  cursor: pointer;
}

.join_btn input {
  width: 10%;
  border: none;
  font-size: 15px;
  color: #fff;
  padding: 11px 0 17px;
  border-radius: 10px;
  background-color: skyblue;
}

.join_btn input[value="취소"] {
  background-color: rgba(128, 128, 128, 0.062);
  color: black;
  border:none;
}