@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color:inherit;
}

fieldset {
    /* {속성명: 속성값} */
    
    max-width: 400px; /* 최대폭 */
    margin-left: auto;
    margin-right: auto; /* 상하여백 15px | 좌우여백 10px*/
    margin-bottom: 20px;
    margin-top: 70px;
    border-radius: 10%;
    border: 3px solid skyblue;
}

legend {
    text-align: left;
    font-size: 30px; /* 글자크기 */
    font-weight: bold;  /* 글자굵기 */
    color: black;/* 글자색 */
}

.title {
    margin: 30px;
    
}

label {
    font-size: 14px; /* 글자크기 */
    font-weight: bold;  /* 글자굵기 */
    width:120px; /* 글자색 */
}

.find {
    font-size: 10px;
    color: blue;
}

.login {
    width: 400px;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

.right_sorted{
    text-align: right;
}

.login th {
    font-size: 15px;
	font-weight: bold;
	width: 120px;
	height: 60px;
	text-align: center;
	padding-right: 10px;
	padding-left: 20px;
	border-bottom: 1px solid #ccc;
	background: whitesmoke;
	margin-right: 5px;
}

.login td {
	padding: 10px 0 10px 10px;
	border-bottom: 1px solid #ccc;
}

th, td {
    padding: 5px;
}

.loginButton  {
    margin-left: 80px;
    width: 300px;
    height: 40px;
    border: 2px solid skyblue;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    
}

.loginButton:hover{
    background-color: skyblue;
}

.Nlogin_button{
    margin-left: 80px;
    margin-top: 5px;
    width: 300px;
    height: 45px;
}

.Klogin_button {
    margin-bottom: 10px;
    margin-right: 80px;
}

