@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a{
    text-decoration: none;
	color:inherit;
}

.contents{
    width: 100%;
    display: flex;
    justify-content:center

}

.login {
    margin: 0 auto;
}

.choice {
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 100px 50px 100px 50px;
    background: skyblue;
    display: inline-block;
    border-radius: 10%;
    
    
}

i {
    margin-top: 40px;
    margin-bottom: 10px;
}



.join {
    height: 50px;
    text-align: center;
    background: lightgray;
    border-radius: 10px;
}

.join_button {
    padding: 13px;
}