@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a{
    text-decoration: none;
	color:inherit;
}

.contents{
    width: 100%;
    margin-left: 350px;

}

.login {
    margin: 0 auto;
}

div .choice {
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 50px;
    background: skyblue;
    display: inline-block;
    border-radius: 10%;
    
    
}

i {
    margin-top: 40px;
    margin-bottom: 10px;
}



.join {
    padding-top: 15px;
    text-align: center;
    width: 350px;
    height: 50px;
    /*margin-left: 120px;*/
    position: absolute;
    right: 0;
    

    background: lightgray;
    
}