<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <script
      src="http://kit.fontawesome.com/a4539ed26c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../header/header.css" />
    <link rel="shortcut icon" href="../logo/scope3.png" />
    <link rel="stylesheet" href="boardList.css" />
  </head>
  <body>
    <div class="wrap">
      <!-- 왼쪽 메뉴 -->
      <div id="header"></div>
      <div id="leftMenu"></div>

      <div class="rightMenu">

      <!-- 가운데 게시판 목록 리스트 -->
      <div class="table_div">
        <div class="table_name"><b>게시판홈</b></div>
        <br />
        <form name="boardAdd" action="boardAddAction.html" method="post">
          <!-- 화면에서 입력받은 값을 전송한다. -->
          <table>
            <tr>
              <th style="width: 5%">번호</th>
              <th style="width: 5%">공지</th>
              <th style="width: 50%">제목</th>
              <th style="width: 5%">첨부</th>
              <th style="width: 5%">부서이름</th>
              <th style="width: 10%">작성자</th>
              <th style="width: 10%">작성일자</th>
              <th style="width: 5%">조회수</th>
            </tr>

            <tr>
              <td style="width: 5%">1</td>
              <td style="width: 5%"><i class="fa-solid fa-bell"></i></td>
              <td style="width: 50%">
                <a href="boardView.html">[공유] 1월 프로젝트 진행</a>
              </td>
              <td class="file" style="width: 5%">
                <i class="fa-solid fa-file"></i>
              </td>
              <td style="width: 10%">개발팀</td>
              <td style="width: 10%">홍길동</td>
              <td style="width: 10%">2024-01-08</td>
              <td style="width: 5%">13</td>
            </tr>
          </table>
          <br />
          <div class="pagination">
            <a class="p" href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a class="p" href="#">&raquo;</a>
          </div>

          <div class="center">
            <div class="select_text">
              <div class="board_select">
                <select value="게시판선택">
                  <option selected disabled>제목+내용</option>
                  <option value="board">제목</option>
                  <option value="board">작성자</option>
                </select>
              </div>

              <div>
                <input
                  type="text"
                  id="search-input"
                  placeholder="검색어를 입력하세요"
                />
                <button id="search-button">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- 오른쪽 글 목록 -->
      <div id="right_post">
        <p class="right_m">전사 공지</p>
        <div class="flex">
          <li>it 최근 이슈1</li>
          <span class date>06-01</span>
        </div>
        <div class="flex">
          <li>헬스케어 향후 전망</li>
          <span class date>06-01</span>
        </div>
        <div class="flex">
          <li>it 상반기 정책</li>
          <span class date>06-01</span>
        </div>
        <div class="flex">
          <li>AI 플랫폼 2024 유망 서비스</li>
          <span class date>06-01</span>
        </div>

        <p class="right_m">부서게시판</p>
        <div class="flex">
          <li>[공지] 금주 실행 계획</li>
          <span class date>06-01</span>
        </div>
        <div class="flex">
          <li>[중요]상반기 프로젝트</li>
          <span class date>06-01</span>
        </div>
        <div class="flex">
          <li>[공유] 무선 네트워크</li>
          <span class date>06-01</span>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="../importJS/headerIpt.js"></script>
    <script src="../importJS/boardMenuIpt.js"></script>
    <script src="./boardList.js"></script>
  </body>
</html>
