*{ /* 전체 화면에 여백없이 맞추기 */
	margin: 0;
	padding: 0;
}
.popup .overlay {
    position: fixed;
    top:0px;
    left:0px;
    width: 100vw;
    height:100vh;
    background: rgba(32, 32, 32, 0.534);
    z-index:1;
    display: none;
} 

.popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) scale(0);
    background: #fff;
    width:700px;
    height:550px;
    z-index: 2;
    padding:20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0,0,0, 0.2);
}
.popup .content span {
    font-size: 18px;
    margin-left: 7px;
}

.popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:25px;
    top:30px;
    width:30px;
    height:30px;
    color:black;
    font-size:25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius:50%;
}

.popup.active .overlay {
    display:block;
}

.popup.active .content {
    /* transition:all 300ms ease-in-out; */
    transform:translate(-50%, -50%) scale(1);
}

.table {
    display: flex;
    justify-content: center;
    top: 20px;
}
.table1 {
    display: flex;
    border: 1px solid rgb(194, 194, 194);
    width:40%;
    height: 300px;
    margin-top: 80px;
}

.table2 {
    display: flex;
    border: 1px solid rgb(160, 160, 160);
    width:55%;
    height: 300px;
    margin-top: 80px;
    margin-left: 5px;
}

#confirm-button {
    margin-top: 27px;
    padding: 8px;
    background-color: #3cb4ff;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 7%;
    font-size : 12px;
  }

  #cancel-button {
    margin-left: 10px;
    margin-top: 27px;
    padding: 8px;
    background-color: white;
    color: rgb(75, 75, 75);
    border: 1px solid rgb(179, 179, 179);
    border-radius: 2px;
    cursor: pointer;
    width: 7%;
    font-size : 12px;
  }

  .button {
    display: flex;
    justify-content: flex-end;
    margin-right: 11px;
    margin-top: 20px;
  }