*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 a{
    text-decoration: none;
    color: inherit;
 }
 
 li{
    list-style: none;
 }

  #button-top {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
    
 .icon{
    color: black;
    font-size: 18px;
 }

 .btn {
   font-size:13px;
   border: none;
   background-color: white;
   cursor: pointer;
   padding: 5px 10px 8px 10px;
   text-align: center;
 }

 .btn:hover {
   background-color: rgba(219, 219, 219, 0.527);
 }

  
 
 
  