@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.wrap {
  margin: 0;
  padding: 0;
  display: flex;
}
#header {
   width: 60px;
}

.critical_bottom {
  /* 상단헤더 넣으면빼기 */
  margin-top: 80px; 
  display: flex;
}

.tab_nav {
  margin-left: 5px;
  display: block;
  height: 10px;
}

.tab_nav li {
  float: left;
  margin: 0 0 0 24px;
  padding: 0;
  cursor: pointer;
  height:40px;
  line-height: 40px;
  font-size :13px;
  color: #999;
}

.tab_nav li:hover {
  border-bottom: 3px solid #000;
  color: black;
  font-weight: 500;
}

#tab_all {
border-bottom: 3px solid #000;
color: black;
font-weight: 500;
}


.table {
  margin-top: 11px;
  /* margin-left: 30px; */
}

/* 문서  table */
/* .tablewrap .table_name {
  margin-top: 20px;
  padding-left: 10px;
  font-size: 25px;
} */

/* 행 커서 */
.table tr:nth-child(2) {
  cursor: pointer;
}

.table tr:nth-child(3) {
  cursor: pointer;
}

.table tr:nth-child(4) {
  cursor: pointer;
}

.table th:nth-child(1) {
  width: 160px;
}

.table th:nth-child(2) {
  width: 200px;
}

.table th:nth-child(3) {
  width: 1220px;
}
.table th:nth-child(4) {
  width: 90px;
}
.table th:nth-child(5) {
  width: 100px;
}
.table th:nth-child(6) {
  width: 100px;
}
.table th:nth-child(7) {
  width: 130px;
}
.table th:nth-child(8) {
  width: 100px;
}

.tablewrap table {
  border-collapse: collapse;
  width: 100vw;
  min-width: 1200px;
  font-size: 13px;
  margin-bottom: 70px;
}

.tablewrap th, td {
  line-height: 2px;
  text-align: left;
  padding: 15px;
  padding-left: 25px;
}

.tablewrap table th {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf; /* 하단 선 추가 */
}

.tablewrap table tr td:hover {
  background-color: #e9e9e969; /* 각 셀에 hover 효과를 줍니다. */
}

/* 행에 hover 시의 스타일 */
.tablewrap table tr:hover td {
  background-color: #e9e9e969; /* 해당 행 전체에 hover 효과를 줍니다. */
}

/* 왼쪽 고정 메뉴바 */
.menu a {
  display: block; /* 블록 요소로 설정하여 전체 너비에 링크 적용 */
  padding: 10px; /* 안쪽 여백 설정 */
  color: #333; /* 글자색 설정 */
  border-radius: 5px; /* 모서리 둥글게 설정 */
}



/* 결재상태, 긴급 아이콘 */
.btn {
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
}

.progress {
  border: none;
  color: white;
  background-color:#abd37d;
}

.completed {
  border: none;
  color: white;
  background-color:#b4b4b4;
}

.urgent {
  border: 1px solid #ff8383;
  color: #ff8383;
  background-color: rgba(255, 255, 255, 0);
}


/* 하단 검색창 */
/* 가운데정렬 */
.table-bottom {
  margin-left: -410px;
}

#search-input {
  padding: 7px;
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 70%;
  box-sizing: border-box;
  width: 300px;
  font-size: 11px;
}

/* 하단 검색창 옵션 */
.select_text {
  padding: 7px;
  display: flex;
  justify-content: center;
}

.select option {
  font-size: 11px; /* 원하는 폰트 크기로 조절 */
}


#search-button {
  padding: 7px;
  background-color: darkgray;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  margin-left:-2px;
}

.center {
  display: flex;
  justify-content:center;
}
.select {
  padding:5px;
  margin-right: 4px;
}

/* 페이지 버튼 */
.pagination {
  margin-bottom: 20px;
}
.pagination a {
  color: rgb(97, 97, 97);
  padding: 5px 10px;
  text-decoration: none;
  transition: .3s;
  font-size: 13px;
}

/* .pagination a.active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0); 
  border: 1px solid black;
} */

.pagination :hover {background-color: #ddd;}
