*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
#left_menu{
  width: 300px;
  height: 100vh;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
  margin: 0;
}
#left_menu h3 {
  font-size: 30px;
  padding-top: 60px;
}
#modalBtn{
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  margin: 10px;
  margin-top: 60px;

}

.tab__label{
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
.tab{
  width: 70%;
  padding: 10px;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}
.tab ul {
  margin-top: 10px;
  border-top: 3px solid #3cb4ff;
}
.tab__content li {
  margin-top: 20px;
}
