* {
  /* 전체 화면에 여백없이 맞추기 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(32, 32, 32, 0.534);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 600px;
  height: 500px;
  z-index: 2;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 28px;
  width: 30px;
  height: 30px;
  color: gray;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  /* transition:all 300ms ease-in-out; */
  transform: translate(-50%, -50%) scale(1);
}

.popup .title {
  margin-top: 35px;
  margin-left: 40px;
  font-size: 20px;
}

.popup .table {
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
.popup .table1 {
  border: 1px solid rgb(194, 194, 194);
  width: 40%;
  height: 300px;
  margin-top: 80px;
}

.popup .table2 {
  display: flex;
  border: 1px solid rgb(160, 160, 160);
  width: 45%;
  height: 300px;
  margin-top: 80px;
  margin-left: 5px;
  font-size: 13px;
}

.popup .table2 table {
  width: 100%;
}

#deptFoderId {
  height: 25px;
  width: 70px;
  font-size: 13px;
}

.popup .table2-top {
  width: 100%;

}
/* 행높이조절  */
.popup .table2 table {
  height: 160px;
  border-collapse: collapse;
}
.popup .table2 th {
  background-color: rgb(230, 230, 230);
  border-bottom: 1px solid rgb(201, 201, 201);
  text-align: left;
  padding-left: 15px;
  width: 100%;
  height: 40px;
}

.popup .table2 td {
  text-align: left;
  padding-left: 15px;
  padding-top: 20px;
}

#confirm-button {
  padding: 8px;
  background-color: #3cb4ff;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 10%;
  font-size: 12px;
}

#cancel-button {
  margin-left: 5px;
  padding: 8px;
  background-color: white;
  color: rgb(75, 75, 75);
  border: 1px solid rgb(179, 179, 179);
  border-radius: 2px;
  cursor: pointer;
  width: 10%;
  font-size: 12px;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: 25px;
}

/* tree menu */

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  color: #4d4d4d;
}

.tree {
  width: 140px;
  margin: 0 auto;
  padding-top: 12px;
}

.popup ul li {
  position: relative;
  list-style: none;
  padding: 3px 0;
  font-size: 13px;
}

.popup li span {
  font-size: 13px;
  /* font-weight: bold; */
}

.popup li:before,
li:after {
  content: "";
  position: absolute;
  left: -28px;
  background-color: #979797;
}

.popup li:before {
  height: 1px;
  width: 16px;
  top: 12px;
}

.popup li:after {
  height: 26px;
  width: 1px;
  top: -14px;
}

.popup li.parent:after {
  height: 100%;
  top: 12px;
}

.popup li.parent:last-child:after {
  content: none;
}

details {
  margin: 0 auto;
  max-height: 18px;
  transition: max-height 1s linear;
}

details[open] {
  max-height: 1000px;
}

/* '▶' 없애기 */
summary {
  display: block;
  position: relative;
  cursor: pointer;
}

/* +버튼없애기 */
/* .parent:nth-child(1) summary:before {
    content: "";
} */
/* .parent:nth-child(2) summary:before {
    content: "";
}
.parent:nth-child(3) summary:before {
    content: "";
} */

/* +버튼 */
.popup summary:before {
  content: "+";
  position: absolute;
  width: 13px;
  top: 0;
  left: -22px;
  text-align: center;
  color: #fff;
  background-color: gray;
  /* border-radius: 9px; */
}

/* -버튼 */
.popup details[open] > summary:before {
  content: "-";
  z-index: 1;
  top: 4px;
  background-color: gray;
}

/* 가지 */
.popup details > ul {
  padding: 12px;
}

/* 새결재진행버튼 */
.first-btn {
  padding: 15px;
  background-color: white;
  color: #3cb4ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 230px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #3cb4ff;
}

/* .first-btn:hover {
  border: 1px solid #3cb4ff;
  background: #fff;
  color: #3cb4ff;
} */

/* 양식 클릭버튼 css */
.parent button {
  border:none;
  background-color: white;
  cursor: pointer;
}