@charset "UTF-8";

/* 공통 스타일 시작 */
* {
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	
	text-decoration: none;
	color: inherit;
}

li {
	
	list-style: none;
}

body {
	
	display : flex;
}
/* 공통 스타일 끝 */

/* left_Main 시작 */	
.left_menu {
	
	background : white;
	border-radius : 5px;
	padding : 20px;
	width : 250px;
	height : 1080px;
}

.menu_middle img {
	
	margin-right : 15px;
}

.menu_middle table {
	
	margin-left : 10px;
}

.menu_middle th {
	
	color : #333;
	text-align : left;
}

.menu_middle td {
	
	color : #666;
	text-align : right;
}

.menu_top h3 {
	
	font-weight : 500;
	font-size : 22px;
	color : #333;
}

#dateDisplay {
	
	font-weight: 400;
	font-size : 12px;
	color: #888;
	margin : 15px 0 10px 0;
}

#timeDisplay {
	
	font-weight: 600;
	font-size : 42px;
	color: #5e5e5e;
}

.inputButton {
	
	cursor: pointer; /* 커서 모양 변경 */
	margin : 10px 0;
	font-size : 16px;
	font-weight : 600;
	padding : 5px 10px;
	height : 42px;	
	width: 90px;
	box-shadow: none;
	border-radius: 10px;
    border: 1px solid #3CB4FF;
    color: #3CB4FF;
    background: none!important; /* 흰색 배경 */
}

.menu_bottom {
	
	margin-left : -30px;
	cursor: pointer;
	color : #333;
	list-style : none;	
	font-weight : 400;	
}

.menu_bottom li {	
	
	text-align : left;
	margin : 10px 40px;
	line-height: 150%;
}

.menu_bottom li a {
	
	color : black;
	text-decoration : none;
	transition : color 0.3s; /* 색상 전환에 효과 부여 */
}

.active,
.menu_bottom li a:hover,
.menu_bottom li a:active { /* 마우스 올릴 때 / 클릭 할 때 / 포커스 되면 */

	color: #3CB4FF;
	outline : none;
}
/* left_Main 끝 */

/* right_Main 시작 */
#right_Main,
#left_Main { 

	display: flex;
	flex-direction : column;
	margin : 0 25px 0 20px;
}

#main_top h1 {
	
	text-align: left;
	font-size : 22px;
	color : #333;
	font-weight : 500;
	background: white;
	border-radius: 5px;
	padding: 10px;
	width: 1650px;
	margin-top : 10px;  
}

#main_middle,
#main_bottom {
	
	text-align: center;
	background: white;
	border-radius: 5px;
	margin : 20px 20px;
}

.column,
.column1 {
	
	float: left;
	width: 300px;
	height: 200px;
	padding: 0 20px;
    background: #fff;
    border: 0.5px solid #dcdcdc;
}

.column img {
	
	margin-top : 20px;
	border-radius: 50%;
	border: 0.5px solid #dcdcdc;
}

.column p {
	
	margin-top : 8px;
}

.column1 h2 {
	
	margin-top : 50px;
}

.column1 p {
	
	margin-top : 35px;
}

#main_bottom {
	
	float: left;
	margin: 0;
	width: 1300px;
	height: 1080px;
}

#main_bottom h2 {
	
	margin-top : 30px;
	text-align : left;
	font-size : 18px;
	padding : 12px 24px;
	font-weight: 500;
	color : #333;
}

#main_bottom table {
	
	width : 1200px;
	margin : 5px 20px;
	text-align : center;
	border-collapse : collapse; /* 셀의 경계가 병합되어 선이 이어짐 */
}

#main_bottom table th {
	
	height : 32px;
	font-size : 15px;
	font-weight : 500;
	border-top: 1px solid #ddd;
	border-bottom : 1px solid #ddd;
	padding : 10px 0;
}

#main_bottom table td {
	
	padding-top : 10px;
	font-weight : 400;
	font-size : 13px;
	height : 20px;
	max-width : 80px;
	min-width : 50px;
}
/* right_Main 끝 */





