*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 a{
    text-decoration: none;
    color: inherit;
 }
 
 li{
    list-style: none;
 }
 #left_menu {
  width: 300px;
  text-align: center;
  border-right: 1px solid #ddd;
  position: fixed;
  height: 100vh;
  padding-top: 60px;
  background: #fff;
 }
.table_name {
    font-size: 30px;
  }
  
  #write-button {
    margin-top: 60px;
    padding: 10px;
    background-color: hsl(203, 100%, 62%);
    color: whitesmoke;
    border: 2px solid hsl(203, 100%, 62%);
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    font-size: 20px;
  }
  #write-button:hover{
    background: #fff;
    color: hsl(203, 100%, 62%);
  }
  .menu a {
    display: block; /* 블록 요소로 설정하여 전체 너비에 링크 적용 */
    padding: 10px; /* 안쪽 여백 설정 */
    color: #333; /* 글자색 설정 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    margin: 20px auto;
    width: 70%;
  }
  .menu a:hover {
    background: #ddd;
  }
  .title {
    font-weight: 700;
    font-size:22px;
  }
  h3.title{
    font-size: 30px;
  }
  .list li{
    margin: auto;
    height: 20px;
    width: 70%;
    border-radius: 10px;
  }
  .list> li:hover{
    background: #ddd;
  }
  span.title {
    width: 200px;
    position: relative;
  }
  span.title::after{
    content: "^";
    position: absolute;
    left: 0;
    width: 300px;
    transition: 0.3s;
  }
  span.title.on::after{
    transform:rotate(180deg);
    transition: 0.3s;
  }