<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>회원가입</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" href="../logo/scope3.png" />
    <link rel="stylesheet" href="socialJoin.css" />
  </head>
  <body>
    <!-- 제목 -->
    <form action="join1.html" class="container">
      <div class="member-container">
        <div class="header">
          <pre>
        회원가입하기
        소셜 로그인 및 이메일로 가입할 수 있습니다.
    </pre
          >
        </div>
      </div>
      <h3>
        ------------------------------------------------------------------------------------------
      </h3>
      <!-- 구글 버튼 -->
      <div class="google_btn">
        <td><img src="image/gg.png" width="400px" /></td>
      </div>

      <!-- 카카오 버튼 -->
      <div class="kakao_btn">
        <td><img src="image/kakao.png" width="400px" /></td>
      </div>

      <!-- 네이버 버튼 -->
      <div class="naver_btn">
        <td><img src="image/naver.png" width="400px" /></td>
      </div>

      <h3>
        -------------------------------------------또는-----------------------------------------
      </h3>

      <!-- 일반 버튼 -->
      <div class="idpw_btn">
        <input type="submit" value="ID/PW 회원가입" />
      </div>
    </form>
  </body>
</html>
