@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans CJK KR";
    font-style: normal;
  }

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 900px;
    margin-top: 50px;
    margin-bottom: 60px;
    background: #ffffff;
    position:fixed;
   
    
    
  }

  .member-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:100px;
    height:150px;
    position: relative;
    right: 25%;    
  }


.header{
    
    width: 500px;
    height: 94px;
    font-weight: 900;
    font-size: 32px;
    line-height: 47px;
    color: black;
    position: absolute;
    left: 50;
   
    
    
}

.google_btn{
  
   top: 10px;
   left: 30px;
   padding: 21px 0 17px;

}

.kakao_btn{
    
   top: 10px;
   left: 30px;
   padding: 21px 0 17px;
   


}

.naver_btn{
   
   top: 10px;
   left: 30px;
   padding: 21px 0 17px;

}

.idpw_btn {
    width: 100%;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    margin: 60px 0 91px;
    border: 0;
    border-color: gainsboro;
  }

button:hover {
    cursor: pointer;
}

.idpw_btn input{
    width: 100%;
    border-color: gainsboro;
    background-color: white;
    font-size: 20px;
    color: GRAY;
    padding: 21px 0 17px;
    
}