* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  height: 100vh;
  position: fixed;
}
#mailLeftmenu {
  width: 300px;
  z-index: 998;
}
#left_menu {
  width: 300px;
  height: 100%;
  margin-right: 0px;
  margin-top: 0;
  box-shadow: 0 0 3px;
  background: #fff;
  text-align: center;
}

#letter1 {
  text-align: center;
}

.buttonSections {
  width: 70%;
  height: 50px;
  border-radius: 10px;
  background: #3cb4ff;
  border: 2px solid #3cb4ff;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  margin: 10px;
}
.buttonSections:hover {
  background: #fff;
  color: #3cb4ff;
}

#write-button {
  margin-top: 60px;
}

.accordion-button {
  width: 50%;
  height: 50px;
  border: none;
  background: #fff;
  margin: 40px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  position: relative;
}

#mailkind{
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0%;
  cursor: pointer;
}

.mailkind_li{
  height: 40px;
  font-weight: bold;
}

.mailkind_li:hover{
  background-color: #F0F8FF;
}

.mailkind_span{
  position: relative;
  top: 25%;
}