* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.wrap {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.right_contents {
  margin-top: 0;
  width: 100vw; /* 늘리고자 하는 가로 길이로 조정 */
  display: flex;
  min-width: 1200px;
  flex-direction: column;
}

.table_name {
  width: 100%;
  height: 150px;
  border-bottom: 5px solid skyblue;
  padding-left: 40px;
  flex-flow: row nowrap;
  display: inline-block;
}

#mail_tt {
  margin-top: 20px;
  margin-bottom: 30px;
}

#mailtt_span {
  font-size: 30px;
  font-weight: bold;
  margin-right: 5px;
}

.mail_cnt {
  color: #999;
}

.cnt {
  font-weight: bold;
}

#dropdown {
  display: inline-block;
}

#chk_box {
  margin-right: 40px;
  width: 18px;
  height: 18px;
}

.btn-light {
  margin-right: 20px;
  width: 80px;
  height: 40px;
  background-color: white;
  border-radius: 10%;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

.btn-light:hover {
  background-color: #f0f8ff;
}

.icon {
  margin-right: 8px;
}

.center {
  display: inline-block;
  width: 500px;
  position: relative;
  left: 36%;
}

.select {
  height: 30px;
}

#search-input {
  height: 35px;
  width: 350px;
}

.table_name2 {
  margin-top: 10px;
}

.mail_div:hover {
  background-color: #f0f8ff;
}

.mail_ul {
  display: flex;
  margin-bottom: 0;
  margin-left: 40px;
  height: 50px;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.checkbox {
  width: 15px;
  height: 15px;
}

.mail li {
  display: inline-block;
}

#main-nano-wrapper {
  position: absolute;
  top: 214px;
  bottom: 0;
  height: auto;
}

.sender_li {
  padding-left: 30px;
  width: 380px;
}

.sender_li_span{
  position: relative;
  left: 60px;
}

.mailtitle_li {
  width: 900px;
  height: 50px;
  padding-left: 60px;
  text-justify: center;
}

.mailtitle_text {
  display: inline-block;
  position: relative;
  top: 25%;
  width: 460px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mailtitle_date{
  display: inline-block;
  width: 90px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*#clip_icon {
  position: relative;
  top: 25%;
  margin-left: 20px;
}*/


/* Pagination links */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 100px;
  height: 50px;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: black;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.arrow {
  font-size: 20px;
}
