<<<<<<<<< Temporary merge branch 1
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.wrap {
}
#header {
  width: 60px;
}

#letter1 {
  margin-left: 20px;
  font-weight: bold;
}

#write-button {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  border: 2px solid #999;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 85%;
  height: 55px;
  font: size 15px;
}

.accordion {
  margin-top: 50px;
}

.accordion-button {
  font-weight: bold;
}

#mailkind {
  padding-left: 0;
  margin-bottom: 0%;
  cursor: pointer;
}

.mailkind_li {
  padding-left: 30px;
  height: 40px;
  font-weight: bold;
}

.mailkind_li:hover {
  background-color: #f0f8ff;
}

.mailkind_span {
  position: relative;
  top: 25%;
}

.right_contents {
  margin-top: 0;
  width: 100%; /* 늘리고자 하는 가로 길이로 조정 */
  display: flex;
  flex-direction: column;
}

.table_name {
  width: 100%;
  height: 150px;
  border-bottom: 3px solid #999;
  padding-left: 40px;
  flex-flow: row nowrap;
  background-color: lightgray;
  display: inline-block;
}

#mail_tt {
  margin-top: 20px;
  margin-bottom: 30px;
}

#mailtt_span {
  font-size: 30px;
  font-weight: bold;
  margin-right: 5px;
}

.mail_cnt {
  color: #999;
}

.cnt {
  font-weight: bold;
}

#dropdown_center_div {
  justify-content: flex-end;
}

#dropdown {
  display: inline-block;
}

#chk_box {
  margin-right: 40px;
  width: 18px;
  height: 18px;
}

.btn-light {
  margin-right: 20px;
}

.btn-light:hover {
  background-color: #f0f8ff;
}

.icon {
  margin-right: 8px;
}

.center {
  display: inline-block;
  width: 500px;
  position: relative;
  left: 38%;
}

.select {
  height: 30px;
}

#search-input {
  height: 35px;
  width: 350px;
}

.email-container {
  margin: 20px auto;
  background-color: #fff;
  padding: 0 50px 50px 50px;
  margin-top: 30px;
  margin: 30px 0px 0px 0px;
}

.email-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: flex;
}

.email-header h2 {
  color: #333;
}

.email-details {
  margin-bottom: 20px;
}

.email-details p {
  margin: 5px 0;
  color: #666;
}

.flex {
  align-items: center;
  display: flex;
}

.flex button {
  width: 15px;
  height: 15px;
}
.email-content {
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.email-content p {
  line-height: 1.6;
  color: #333;
}
=========
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 a{
    text-decoration: none;
    color: inherit;
 }
 
 li{
    list-style: none;
 }
 
 .wrap {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width:100%;
 }
 
  .right_contents{
    margin-top: 0;
    width: 100%; /* 늘리고자 하는 가로 길이로 조정 */
    display: flex;  
    flex-direction: column;
 }
 
  .table_name{
     
     width: 100%;
     height: 150px;
     border-bottom: 3px solid #999;
     padding-left: 40px;
     flex-flow: row nowrap;
     background-color: lightgray;
     display: inline-block;
     
    }
  
 #mail_tt{
    margin-top: 20px;
    margin-bottom: 30px;
 }   
 
 #mailtt_span{
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
 }
 
 .mail_cnt{
    color: #999;
 }
 
 .cnt{
    font-weight: bold;
 }
 
  #dropdown {
    display: inline-block;
  }
    
 #chk_box {
    margin-right: 40px;
    width: 18px;
    height: 18px;
 }
 
  .btn-light {
    margin-right: 20px;
    width: 80px;
    height: 40px;
    background-color: white;
    border-radius: 10%;
    border: none;
    font-weight: bold;
    font-size: 15px;
 }
 
 .btn-light:hover{
    background-color: #F0F8FF;
 }
 
 
 .icon{
    margin-right: 8px;
 }
 
 .center{
    display: inline-block;
    width: 500px;
    position: relative;
    left: 50%;
 }
 
 .select{
    height: 30px;
 }
 
 
 #search-input{
    height: 35px;
    width: 350px;
 }
 
 .email-container {
    margin: 20px auto;
    background-color: #fff;
    padding: 0 50px 50px 50px;
    margin-top: 30px; 
    margin: 30px 0px 0px 0px;
  }
 
  .email-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
  }
 
  .email-header h2 {
    color: #333;
  }
 
  .email-details {
    margin-bottom: 20px;
  }
 
  .email-details p {
    margin: 5px 0;
    color: #666;
  }
 
  .flex{
    align-items: center;
    display:flex;
 }
 
 .flex button {
    width: 15px;
     height: 15px;
 }
  .email-content {
    padding-top: 20px;
    border-top: 1px solid #ddd;
  }
 
  .email-content p {
    line-height: 1.6;
    color: #333;
  }
 
 
 
 
 
 
 
  
 
  
 
  
 
 
  
>>>>>>>>> Temporary merge branch 2
