*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a{
   text-decoration: none;
   color: inherit;
}

li{
   list-style: none;
}

.wrap {
   margin: 0;
   padding: 0;
   display: flex;
   height: 100vh;
   width:100%;
}

 .right_contents{
   margin-top: 0;
   width: 100%; /* 늘리고자 하는 가로 길이로 조정 */
   display: flex;  
   flex-direction: column;
}

 .table_name{
    
    width: 100%;
    height: 150px;
    border-bottom: 3px solid #999;
    padding-left: 40px;
    flex-flow: row nowrap;
    background-color: lightgray;
    display: inline-block;
    
   }
 
#mail_tt{
   margin-top: 20px;
   margin-bottom: 30px;
}   

#mailtt_span{
   font-size: 30px;
   font-weight: bold;
   margin-right: 5px;
}

.mail_cnt{
   color: #999;
}

.cnt{
   font-weight: bold;
}


#dropdown {
   display: inline-block;
 }
   
#chk_box {
   margin-right: 40px;
   width: 18px;
   height: 18px;
}

 .btn-light {
   margin-right: 20px;
   width: 80px;
   height: 40px;
   background-color: white;
   border-radius: 10%;
   border: none;
   font-weight: bold;
   font-size: 15px;
}

.btn-light:hover{
   background-color: #F0F8FF;
}


.icon{
   margin-right: 8px;
}

.center{
   display: inline-block;
   width: 500px;
   position: relative;
   left: 47%;
   
}

.select{
   height: 30px;
}

#search-input{
   height: 35px;
   width: 350px;
}


.table_name2 {
    margin-top: 10px;
}



.mail_div:hover {
   background-color: #F0F8FF;
}

.mail_ul {
   display: flex;
   margin-bottom: 0;
   height: 50px;
   align-items: center;
   justify-content: space-around;
}

.checkbox{
   width: 15px;
   height: 15px;
}

.mail li {
   display: inline-block;

}

#main-nano-wrapper {
   position: absolute;
   top: 214px;
   bottom: 0;
   height: auto;
 }

.sender_li {
   margin-left: 30px;
}

.mailtitle_li {
   width: 1200px;
   height: 50px;
   padding-left:80px;
   text-justify: center;
   cursor: pointer
   
}

.mailtitle_text{
   position: relative;
   top: 25%; 
}

#clip_icon{
   position: relative;
   top: 25%;
   margin-left: 20px;
}

 /* Pagination links */
 .pagination{
   display:flex;
   justify-content:center;
   align-items:center;
   margin-bottom:10px;
   margin-top: 100px;
   height: 50px;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: black;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}
 
.arrow{
   font-size: 20px;
}






 

 

 


 