*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a{
   text-decoration: none;
   color: inherit;
}

li{
   list-style: none;
}

.wrap {
   margin: 0;
   padding: 0;
   display: flex;
   height: 100vh;
   width:100%;
}

#left_menu {
   
   width:300px;
   height: 100%;
   margin-right: 0px;
   margin-top: 0;;
   border-right: 3px solid #999;
   background-color: lightgray;

}

#letter1{
   margin-left:20px;
   font-weight: bold;
}
 
 #write-button {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    border: 2px solid #999;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 85%;
    height: 55px;
    font: size 15px;
 }

 .accordion{
   margin-top:50px;
 }

 #mailkind{
   padding-left: 0;
   margin-bottom: 0%;
   cursor: pointer
}

 .mailkind_li{
   padding-left: 30px;
   height: 40px;
 }

 .mailkind_li:hover{
   background-color: #F0F8FF;
 }

 .right_contents{
   margin-top: 0;
   width: 100%; /* 늘리고자 하는 가로 길이로 조정 */
   display: flex;  
   flex-direction: column;
}

 .table_name{
    
    width: 100%;
    height: 150px;
    border-bottom: 3px solid #999;
    padding-left: 40px;
    flex-flow: row nowrap;
    background-color: lightgray;
    display: inline-block;
    
   }
 
#mail_tt{
   margin-top: 20px;
   margin-bottom: 30px;
}   

#mailtt_span{
   font-size: 30px;
   font-weight: bold;
   margin-right: 5px;
}

.mail_cnt{
   color: #999;
}

.cnt{
   font-weight: bold;
}

 #dropdown {
   display: inline-block;
 }
   
#chk_box {
   margin-right: 40px;
   width: 18px;
   height: 18px;
}

 .btn-light {
   margin-right: 20px;
}

.btn-light:hover{
   background-color: #F0F8FF;
}


.icon{
   margin-right: 8px;
}

.center{
   display: inline-block;
   width: 500px;
   margin-left: 620px;
   
}

.select{
   height: 30px;
}

#search-input{
   height: 35px;
   width: 350px;
}


.table_name2 {
    margin-top: 10px;
}

.mail_div{
   cursor: pointer
}


.mail_div:hover {
   background-color: #F0F8FF;
}

.mail_ul {
   display: flex;
   margin-bottom: 0;
   height: 50px;
   align-items: center;
   justify-content: space-around;
/
}

.checkbox{
   width: 15px;
   height: 15px;
}

.mail li {
   display: inline-block;

}

#main-nano-wrapper {
   position: absolute;
   top: 214px;
   bottom: 0;
   height: auto;
 }

.sender_li {
   margin-left: 30px;
}

.mailtitle_li {
   width: 1200px;
   margin-left:80px;
   
}

  /* Pagination links */
  .pagination{
   display:flex;
   justify-content:center;
   align-items:center;
   margin-bottom:10px;
   margin-top: 100px;
   height: 50px;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: black;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}
 
.arrow{
   font-size: 20px;
}
 







 

 

 


 