* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
// 기본 css설정
nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 69px;
  border: 1px solid #ddf;
  background-color: #ddd;
  position: relative;
  .logo {
    background-image: url(../logo/scope2.png);
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 50px;
  }
  ul {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    .input {
      width: 200px;
      height: 35px;
      border: 1px solid #ddd;
      background: #fff;
      position: relative;
      border-radius: 5px;
      #btn-search {
        background: url(../localImages/ic_gnb.png);
        width: 27px;
        height: 27px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: -483px -661px;
        top: 0;
        color: rgba(0, 0, 0, 0);
        cursor: pointer;
      }

      input {
        position: relative;
        border-radius: 5px;
        width: 160px;
        height: 34px;
        border: none;
        background: none;

        &::placeholder {
          padding-left: 20px;
        }
      }
    }
    .noti_btn {
      width: 40px;
      height: 50px;
      text-align: left;
      border-radius: 4px;
      float: left;
      a{
        display: inline-block;
        background-size: contain;
        background: url(../localImages/ic_snb.png) no-repeat;
        width: 50px;
        height: 50px;

      }
    }
    .thumbnail{
      margin-left: 20px;
      width: 40px;
      height: 40px;
      // overflow: hidden;
      // border-radius: 50%;
      position: relative;
      &>a{
        display: block;
        width: 100%;
        height: 100%;
        background: url(../localImages/profile.png) no-repeat;
        background-color: #fff;
        background-size: contain;
        border-radius: 50%;
        
      }
      .infoList{
        position: absolute;
        width: 100px;
        left: 20%;
        transform: translateX(-50%);
        display: none;
        flex-direction: column;
        background: #fff;
        border: 1px solid #ddd;
        margin-top: 10px;
          li{
            display: block;
            text-align: center;
            padding: 10px;
            height: 100%;
            width: 100%;
            position: relative;
            border: 1px solid #fff;
            &:hover{
              border: 1px solid #ddd;
            }
            &:hover::before{
              content: "^";
              position: absolute;
              transform: rotate(90deg);
              left: 10px;
              font-weight: bold;
              color: #ddd;
            }
            a{
              display: block;
              font-size: 15px;
              width: 100px;
              color: #000;
            }
          }
        
      }
    }
  }
}
