@charset "UTF-8";

* {
  /* 전체 화면에 여백없이 맞추기 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* font-family: 'Poppins', sans-serif; */
}
ul, ol ,li {
  list-style: none; /* 점 없애기 */
  padding: 0px;
}

a {
  text-decoration: none; /* 클릭시 보라색, 파란색글씨로 안변하게 */
  color: inherit; /* 컬러 기본으로 설정해주고 다른곳에서 재설정 */
}
.specific-ul {
  padding-left: 0; /* 혹은 다른 값으로 설정 */
}
body {
  background: white;
  font-family: "Poppins", sans-serif;
}


.sidebar {
  position: fixed;
  width: 60px;
  height: 100vh;
  background: #3cb4ff;
  overflow: hidden;
  transition: 0.5s;
  &.barInfo{
    width: 300px;
  }
  ul {
    position: relative;
    height: 100vh;
    li {
      :hover {
        background: #3cb4ff;
      }
      .logo {
        margin-bottom: 50px;
        :hover {
          background: #3cb4ff;
        }
        &.icon {
          font-size: 2em;
        }
        .text {
            font-size: 1.2em;
            font-weight: 500;
          }
      }
      a {
        position: relative;
        display: flex;
        white-space: nowrap;
        text-emphasis: none;
        .icon {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 60px;
          height: 60px;
          font-size: 1.5em;
          color: white;
        }
        .text {
          position: relative;
          height: 60px;
          display: flex;
          align-items: center;
          font-size: 1em;
          color: white;
          text-transform: uppercase;
          letter-spacing: 0.05em;
        }
      }
    }
  }
}


.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
